<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Artifactory" value="https://polystream.jfrog.io/artifactory/api/nuget/v3/platform-nuget-dev" />
    <add key="Polystream Feedz Symbols" value="https://f.feedz.io/polystream/platform-nuget-symbols/nuget/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Artifactory>
        <add key="Username" value="codefresh_automation" />
        <add key="ClearTextPassword" value="CHANGEME_ARTIFACTORY_TOKEN" />
      </Artifactory>
    <Polystream_x0020_Feedz_x0020_Symbols>
      <add key="Username" value="codefresh_automation" />
      <add key="ClearTextPassword" value="CHANGEME_FEEDZ_TOKEN" />
    </Polystream_x0020_Feedz_x0020_Symbols>
  </packageSourceCredentials>
</configuration>